# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
*.tsbuildinfo

# env & secrets
.env
.env.*
!.env.example

# logs
logs/
*.log
npm-debug.log*

# editor / os
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# supabase local
supabase/.branches
supabase/.temp

# misc
coverage/
.cache/
